[submodule "vedic_morph_analyser_sh"]
	path = vedic_morph_analyser_sh
	url = https://github.com/SriramKrishnan8/vedic_morph_analyser_sh.git
	branch = main
[submodule "scl_morph_interface"]
	path = scl_morph_interface
	url = https://github.com/SriramKrishnan8/scl_morph_interface.git
	branch = main
[submodule "scl_sandhi_interface"]
	path = scl_sandhi_interface
	url = https://github.com/SriramKrishnan8/scl_sandhi_interface.git
	branch = main
